
$size: .9em;
$color: #ffd900;

.button {
    box-sizing: border-box;
    width: $size;
    height: $size;
    margin: .8em;

    border-color: transparent transparent transparent $color;
    transition: 100ms all ease;
    will-change: border-width;
    cursor: pointer;
    align-self: center;
    justify-self: center;

    //play state
    border-style: solid;
    border-width: $size/2 0px $size/2 $size;

    //pause state
    &.pause {
        border-style: double;
        border-width: 0px 0px 0px $size/2;
    }
  }
